@charset "UTF-8";
body {
  min-width: 320px;
  font-family: "Roboto", "M PLUS 1p", sans-serif;
  font-weight: bold;
}
body.is-open {
  position: fixed;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.l-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 215px;
  background-color: #FFF7EF;
}
@media (min-width: 1140px) {
  .l-header {
    flex-direction: row;
    justify-content: space-between;
  }
}
.l-header__logo {
  margin-bottom: 40px;
  color: #707070;
  font-size: 40px;
}
@media (min-width: 1140px) {
  .l-header__logo {
    margin: 0 20px 0 65px;
    font-size: 64px;
  }
}

@media (min-width: 1140px) {
  .l-main {
    display: flex;
    flex-direction: row-reverse;
  }
}
.l-main__body {
  width: 100%;
}
.l-main__wrapper {
  padding: 5.33vw;
}
.l-main__wrapper__flex {
  display: flex;
  flex-direction: column;
}
@media (min-width: 601px) {
  .l-main__wrapper__flex {
    flex-direction: row;
  }
}

.l-footer {
  width: 100%;
  height: 150px;
  padding-top: 16px;
  background: no-repeat center/cover url("../img/footerbg.jpg");
}
.l-footer__info {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: normal;
}
.l-footer__info li + li {
  position: relative;
  padding-left: 20px;
}
.l-footer__info li + li::before {
  display: block;
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 10px;
  margin: auto;
  height: 1em;
  border-left: 1px solid #FFFFFF;
}

.c-form__text {
  border: 1px solid black;
  background-color: white;
}
.c-form__submit {
  border: 1px solid black;
  background-color: white;
}

.c-button {
  display: block;
  background-color: white;
  color: black;
  cursor: pointer;
}

.p-gmenu {
  display: flex;
  justify-content: flex-end;
  position: relative;
  height: 100%;
  background-color: #FFF7EF;
}
.p-gmenu__menu-opbtn {
  margin: 8px 2.13vw 11px 0px;
}
@media (min-width: 1140px) {
  .p-gmenu__menu-opbtn {
    display: none;
  }
}
.p-gmenu__menu-opbtn span {
  color: #707070;
  font-size: 20px;
}
.p-gmenu__layer.is-open {
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 500ms 0s ease;
}
.p-gmenu__content {
  position: fixed;
  z-index: 100;
  left: 100%;
  width: 87.46%;
  height: 100%;
  background-color: #F2EDE9;
  transition: all 500ms 0s ease;
}
@media (min-width: 601px) {
  .p-gmenu__content {
    width: 44%;
  }
}
@media (min-width: 1140px) {
  .p-gmenu__content {
    position: static;
    width: 19.11vw;
    min-width: 367px;
  }
}
.p-gmenu__content.is-open {
  left: 12.54%;
  overflow-y: scroll;
}
@media (min-width: 601px) {
  .p-gmenu__content.is-open {
    left: 56%;
  }
}
.p-gmenu__content__menu-clbtn {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  margin: 8px 8px 134px auto;
}
@media (min-width: 1140px) {
  .p-gmenu__content__menu-clbtn {
    display: none;
  }
}
.p-gmenu__content__menu-clbtn::before, .p-gmenu__content__menu-clbtn::after {
  display: block;
  position: absolute;
  content: "";
  left: calc(50% - 20px);
  width: 40px;
  height: 5px;
  background-color: #707070;
}
.p-gmenu__content__menu-clbtn::before {
  top: 18px;
  transform: rotate(135deg);
}
.p-gmenu__content__menu-clbtn::after {
  top: 18px;
  transform: rotate(-135deg);
}
.p-gmenu__content__menu-clbtn span {
  font-size: 0px;
}
.p-gmenu__content__title {
  display: none;
}
@media (min-width: 1140px) {
  .p-gmenu__content__title {
    display: block;
    margin: 84px 0 90px 46px;
    color: #707070;
    font-size: 34px;
  }
}
.p-gmenu__content > div ul > li:last-child {
  padding-bottom: 40px;
}
.p-gmenu__content > div ul > li > a {
  display: inline-block;
  margin-bottom: 40px;
  margin-left: 46px;
  color: #707070;
  font-size: 24px;
}
.p-gmenu__content > div ul > li > a + ul a {
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 66px;
  white-space: pre;
  color: #707070;
  font-size: 20px;
  font-weight: normal;
}

.p-search {
  display: flex;
  height: 46px;
}
@media (min-width: 1140px) {
  .p-search {
    margin-right: 31px;
  }
}
.p-search__text {
  width: 57.6vw;
  min-width: 200px;
  max-width: 396px;
  margin-right: 16px;
  padding-left: 38px;
  border: 1px solid #707070;
  border-radius: 10px;
  background-color: #FFFFFF;
  background-image: url("../img/search.png");
  background-position: 9px center;
  background-size: 24px, 24px;
}
@media (min-width: 1140px) {
  .p-search__text {
    width: 20.62vw;
  }
}
.p-search__submit {
  width: 24vw;
  min-width: 50px;
  max-width: 136px;
  border: 1px solid #707070;
  border-radius: 10px;
  background-color: #F2EDE9;
  color: #707070;
}
@media (min-width: 1140px) {
  .p-search__submit {
    width: 7.08vw;
  }
}

.p-mainvisual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 285px;
  background: no-repeat center/cover url("../img/mainvisual-sp@2x.jpg");
}
@media (min-width: 601px) {
  .p-mainvisual {
    flex-direction: row;
    justify-content: start;
    background: no-repeat center/cover url("../img/mainvisual-tablet.jpg");
  }
}
@media (min-width: 1140px) {
  .p-mainvisual {
    height: 530px;
    background: no-repeat center/cover url("../img/mainvisual-pc.jpg");
  }
}
.p-mainvisual--img-archive {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/page-title_arcive@2x.jpg");
}
@media (min-width: 601px) {
  .p-mainvisual--img-archive {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/page-title_arcive-tablet.jpg");
  }
}
@media (min-width: 1140px) {
  .p-mainvisual--img-archive {
    height: 239px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/page-title_arcive-pc.jpg");
  }
}
.p-mainvisual--img-single {
  height: 225px;
}
@media (min-width: 601px) {
  .p-mainvisual--img-single {
    height: 505px;
  }
}
@media (min-width: 1140px) {
  .p-mainvisual--img-single {
    height: 500px;
  }
}
.p-mainvisual--img-page {
  height: 225px;
  background: no-repeat center/cover url("../img/page.jpg");
}
@media (min-width: 601px) {
  .p-mainvisual--img-page {
    height: 505px;
    background: no-repeat center/cover url("../img/page-tablet.jpg");
  }
}
@media (min-width: 1140px) {
  .p-mainvisual--img-page {
    height: 500px;
    background: no-repeat center/cover url("../img/page-pc.jpg");
  }
}
.p-mainvisual__title {
  margin-right: auto;
  margin-left: 6.66vw;
  color: #FFFFFF;
  font-size: 36px;
}
@media (min-width: 601px) {
  .p-mainvisual__title {
    margin-right: 0;
    margin-left: 86px;
  }
}
.p-mainvisual__subtitle {
  margin-top: 12px;
  margin-right: auto;
  margin-left: 6.66vw;
  color: #FFFFFF;
}
@media (min-width: 601px) {
  .p-mainvisual__subtitle {
    margin: 6px auto 0 19px;
  }
}

.p-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}
@media (min-width: 601px) {
  .p-content {
    margin-bottom: 0;
  }
}
.p-content--img-takeout {
  background: no-repeat center/cover url("../img/takeout.jpg");
}
@media (min-width: 601px) {
  .p-content--img-takeout {
    margin-right: 4.79vw;
  }
}
.p-content--img-eatin {
  background: no-repeat center/cover url("../img/eatin.jpg");
}
.p-content__title {
  padding-top: 13px;
  padding-left: 16px;
  color: #FFFFFF;
  font-size: 41px;
}
.p-content__title::after {
  display: block;
  content: "";
  height: 4px;
  width: 34px;
  margin-top: 17px;
  margin-bottom: 216px;
  background-color: #FFFFFF;
}
@media (min-width: 601px) {
  .p-content__title::after {
    margin-top: 25px;
  }
}
@media (min-width: 1140px) {
  .p-content__title::after {
    margin-bottom: 450px;
  }
}
.p-content__box {
  margin: 0 16px 16px;
  color: #3C2A10;
  background-color: #FFFFFF;
  opacity: 0.8;
}
.p-content__box__title {
  padding: 16px 0 8px 16px;
  font-size: 22px;
  line-height: 24px;
}
.p-content__box__text {
  padding: 0 16px 16px 16px;
  font-weight: normal;
}

.p-sentence {
  padding: 32px 0 0;
  color: #3C2A10;
}
.p-sentence h2 {
  margin-bottom: 25px;
  font-size: 28px;
}
.p-sentence h3 {
  margin-bottom: 25px;
  font-size: 24px;
}
.p-sentence h4, .p-sentence h5, .p-sentence h6 {
  margin-bottom: 25px;
  font-size: 20px;
}
.p-sentence p {
  margin-bottom: 35px;
  font-weight: normal;
}
.p-sentence button {
  width: 100%;
  height: 80px;
  max-width: 429px;
  margin: 30px 0;
  border-radius: 20px;
  border: solid 1px #3C2A10;
  color: inherit;
  background-color: #F5F5F5;
}
.p-sentence ol {
  padding-left: 20px;
  margin: 17px 0px;
  list-style: decimal inside;
  font-weight: normal;
}
.p-sentence ol li {
  list-style: inherit;
}
.p-sentence ul {
  padding-left: 20px;
  margin: 17px 0px;
  list-style: none;
  font-weight: normal;
}
.p-sentence table {
  width: 100%;
  margin: 30px 0;
  border-collapse: collapse;
  text-align: left;
  font-weight: normal;
}
.p-sentence table td {
  border: solid 1px;
  padding: 25px 0 25px 30px;
}
.p-sentence pre {
  margin: 30px 0;
  background-color: #F5F5F5;
}
.p-sentence blockquote {
  padding: 30px 5.33vw;
  margin-bottom: 30px;
  background-color: #F5F5F5;
  font-size: 16px;
  font-weight: normal;
}
.p-sentence blockquote cite {
  font-style: normal;
}
.p-sentence blockquote p {
  margin-bottom: 0;
}
.p-sentence blockquote a {
  color: #4A6C9B;
  text-decoration: underline;
}
.p-sentence__img {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.p-sentence__img img {
  width: 71.2vw;
  max-width: 580px;
}
.p-sentence__img--full img {
  width: 100%;
  max-width: 100%;
}
.p-sentence__2rows {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.p-sentence__2rows img {
  width: 38.6vw;
  max-width: 581px;
}
.p-sentence__2rows p {
  width: 48vw;
  margin-bottom: 0;
  text-indent: 1em;
}
@media (min-width: 1140px) {
  .p-sentence__2rows p {
    width: 100%;
    margin: 0 40px;
  }
}
.p-sentence__griditems {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 20px;
}
@media (min-width: 601px) {
  .p-sentence__griditems {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1140px) {
  .p-sentence__griditems {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.p-sentence__griditems img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-card {
  margin: 25px 0;
  color: #FFFFFF;
}
@media (min-width: 601px) {
  .p-card {
    display: flex;
  }
}
.p-card__img {
  height: 230px;
  width: 100%;
}
.p-card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 601px) {
  .p-card__img {
    height: auto;
    width: 50%;
  }
}
.p-card__content {
  width: 100%;
  padding: 32px 4.53vw 43px;
  background-color: #3C2B1C;
}
@media (min-width: 601px) {
  .p-card__content {
    height: auto;
    width: 50%;
  }
}
.p-card__content__title {
  margin-bottom: 21px;
  font-size: 20px;
}
@media (min-width: 1140px) {
  .p-card__content__title {
    margin-bottom: 30px;
  }
}
.p-card__content__text {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: normal;
}
@media (min-width: 1140px) {
  .p-card__content__text {
    margin-bottom: 60px;
  }
}
.p-card__content__button {
  height: 43px;
  width: 43.46vw;
  margin-right: auto;
  margin-left: auto;
  border-radius: 22px;
  color: #707070;
}
@media (min-width: 601px) {
  .p-card__content__button {
    width: 19.54vw;
  }
}
@media (min-width: 1140px) {
  .p-card__content__button {
    width: 15.2vw;
  }
}

.p-pagenavigation {
  padding: 35px 0 30px;
  color: #707070;
  font-size: 16px;
  font-weight: normal;
}
@media (min-width: 601px) {
  .p-pagenavigation {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.p-pagenavigation__info {
  display: none;
  font-weight: bold;
}
@media (min-width: 601px) {
  .p-pagenavigation__info {
    display: block;
  }
}
.p-pagenavigation ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
.p-pagenavigation ul li {
  margin-right: 15px;
}
.p-pagenavigation ul li:first-child {
  margin-left: 15px;
}
.p-pagenavigation ul li :not(.prev, .next) {
  display: none;
}
@media (min-width: 601px) {
  .p-pagenavigation ul li :not(.prev, .next) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 1px solid #707070;
  }
}
.p-pagenavigation ul li .current {
  background-color: #707070;
  color: #FFFFFF;
}
.p-pagenavigation ul li .prev::after {
  content: "前へ";
}
@media (min-width: 601px) {
  .p-pagenavigation ul li .prev::after {
    content: "";
  }
}
.p-pagenavigation ul li .next::before {
  content: "次へ";
}
@media (min-width: 601px) {
  .p-pagenavigation ul li .next::before {
    content: "";
  }
}

.p-access {
  position: relative;
  padding: 42px 10.66vw;
  background: rgba(0, 0, 0, 0.3);
}
@media (min-width: 601px) {
  .p-access {
    padding: 42px 5.33vw;
  }
}
.p-access__title {
  color: #FFFFFF;
  font-size: 30px;
}
@media (min-width: 1140px) {
  .p-access__title {
    width: 36.3vw;
  }
}
.p-access__title::after {
  display: block;
  content: "";
  height: 2px;
  width: 75px;
  margin-top: 13px;
  margin-bottom: 15px;
  background-color: #FFFFFF;
}
.p-access__text {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 33px;
}
@media (min-width: 1140px) {
  .p-access__text {
    width: 36.3vw;
  }
}
.p-access__layer {
  position: absolute;
  z-index: -100;
  top: 0;
  left: 0;
  height: 415px;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}
@media (min-width: 601px) {
  .p-access__layer {
    height: 100%;
  }
}
@media (min-width: 1140px) {
  .p-access__layer {
    width: 49.47vw;
  }
}
.p-access__map {
  position: absolute;
  z-index: -200;
  top: 0;
  left: 0;
}

.p-copyright {
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: normal;
}

.p-error {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p-error__title {
  margin: 40px 0 10px;
  color: #3C2A10;
  font-size: 80px;
}
.p-error__text {
  color: #3C2A10;
  font-size: 24px;
}

.u-mt0 {
  margin-top: 0;
}

.u-mb0 {
  margin-bottom: 0px;
}

.u-mt5 {
  margin-top: 5;
}

.u-mb5 {
  margin-bottom: 5px;
}

.u-mt10 {
  margin-top: 10;
}

.u-mb10 {
  margin-bottom: 10px;
}

.u-mt15 {
  margin-top: 15;
}

.u-mb15 {
  margin-bottom: 15px;
}

.u-mt20 {
  margin-top: 20;
}

.u-mb20 {
  margin-bottom: 20px;
}

.u-mt25 {
  margin-top: 25;
}

.u-mb25 {
  margin-bottom: 25px;
}

.u-mt30 {
  margin-top: 30;
}

.u-mb30 {
  margin-bottom: 30px;
}

.u-mt35 {
  margin-top: 35;
}

.u-mb35 {
  margin-bottom: 35px;
}

.u-mt40 {
  margin-top: 40;
}

.u-mb40 {
  margin-bottom: 40px;
}

.u-mt45 {
  margin-top: 45;
}

.u-mb45 {
  margin-bottom: 45px;
}

.u-mt50 {
  margin-top: 50;
}

.u-mb50 {
  margin-bottom: 50px;
}

.u-mt55 {
  margin-top: 55;
}

.u-mb55 {
  margin-bottom: 55px;
}

.u-mt60 {
  margin-top: 60;
}

.u-mb60 {
  margin-bottom: 60px;
}

.u-mt65 {
  margin-top: 65;
}

.u-mb65 {
  margin-bottom: 65px;
}

.u-mt70 {
  margin-top: 70;
}

.u-mb70 {
  margin-bottom: 70px;
}

.u-mt75 {
  margin-top: 75;
}

.u-mb75 {
  margin-bottom: 75px;
}

.u-mt80 {
  margin-top: 80;
}

.u-mb80 {
  margin-bottom: 80px;
}

.u-mt85 {
  margin-top: 85;
}

.u-mb85 {
  margin-bottom: 85px;
}

.u-mt90 {
  margin-top: 90;
}

.u-mb90 {
  margin-bottom: 90px;
}

.u-mt95 {
  margin-top: 95;
}

.u-mb95 {
  margin-bottom: 95px;
}

.u-mt100 {
  margin-top: 100;
}

.u-mb100 {
  margin-bottom: 100px;
}
/*# sourceMappingURL=hamburger.css.map */
