
.c-flex {
  display: flex;

  &--column-spacebetween {
    flex-direction: column; // タテ並び
    justify-content: space-between; // 両端から均等に配置
    height: 100%;
  }

  &--wrap {
    flex-wrap: wrap;
  }

}


