@use "../../foundation/mixin";
@use "../../foundation/variable";

.p-card {
  @include mixin.dbg-border(blue, 3, 1);
  margin: 25px 0;
  color: variable.$color-white;

  @include mixin.breakpoint("tablet") {
    display: flex;
  }

  &--suggest {
    margin: 0 0 25px;

    @include mixin.breakpoint("tablet") {
      display: list-item;
      width: 300px;
      margin-right: 40px;
    }
  }

  &__img {
    @include mixin.dbg-border(red, 3, 1);
    height: 230px;
    width: 100%;

    @include mixin.breakpoint("tablet") {
      height: auto;
      width: 50%;
    }

    &--suggest {
      height: 230px;
      width: 100%;
    }

    &--news {
      max-height: 230px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }

  &__content {
    @include mixin.dbg-border(pink, 5, 1);
    position: relative;
    width: 100%;
    padding: 32px 4.53vw 43px;
    background-color: variable.$color-darkorange;

    @include mixin.breakpoint("tablet") {
      height: auto;
      width: 50%;
    }

    &--suggest {
      padding: 32px 16px 43px;
      background-color: variable.$color-lightbrown2;
      color: variable.$color-darkorange;

      @include mixin.breakpoint("tablet") {
        width: 100%;
      }
    }

    &--news {
      background-color: variable.$color-white;
      color: variable.$color-darkorange;

      @include mixin.breakpoint("tablet") {
        width: 100%;
        padding-left: 30px;
        padding-right: 0;
      }
    }

    &__mark-new {
      @include mixin.dbg-border(pink, 3, 0);
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0;
      width: 55px;
      height: 55px;
      background-color: variable.$color-orange;
      font-size: 18px;
    }

    &__title {
      @include mixin.dbg-border(yellow, 3, 1);
      margin-bottom: 21px;
      font-size: 20px;

      @include mixin.breakpoint("wide") {
        margin-bottom: 30px;
      }
    }

    &__cat {
      @include mixin.dbg-border(yellow, 3, 1);
      margin: 10px 0px;
      margin-right: 10px;
      font-size: 12px;
      font-weight: normal;
    }

    &__tag a {
      @include mixin.dbg-border(yellow, 3, 1);
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 30px;
      padding: 5px 20px;
      border-radius: 20px;
      background-color: variable.$color-lightgray2;
      font-size: 12px;
      font-weight: normal;
    }


    &__text {
      @include mixin.dbg-border(red, 3, 1);
      margin-bottom: 40px;
      font-size: 16px;
      font-weight: normal;

      @include mixin.breakpoint("wide") {
        margin-bottom: 60px;
      }
    }

    &__button {
      @include mixin.dbg-border(red, 3, 1);
      height: 43px;
      width: 43.46vw;
      margin-right: auto;
      margin-left: auto;
      border-radius: 22px;
      color: variable.$color-gray;

      @include mixin.breakpoint("tablet") {
        width: 19.54vw;
      }

      @include mixin.breakpoint("wide") {
        width: 15.20vw;
      }

      &--suggest {
        height: auto;
        width: auto;
        margin-right: 0;
        border: none;
        border-radius: 0;
        background-color: transparent;
        color: variable.$color-black;
        text-decoration: underline;
      }

    }
  }

}

