@use "../../foundation/mixin";
@use "../../foundation/variable";

.p-copyright {
  @include mixin.dbg-border(black, 3, 1);
  display: flex;
  justify-content: center; // 真ん中
  color: variable.$color-white;
  font-size: 14px;
  font-weight: normal;
}

