@use "../../foundation/mixin";
@use "../../foundation/variable";

.p-sentence {
  @include mixin.dbg-border(yellow, 3, 1);
  padding: 32px 0 0;
  color: variable.$color-black;

  h2 {
    @include mixin.dbg-border(blue, 3, 1);
    margin-bottom: 25px;
    font-size: 28px;
  }
  h3 {
    @include mixin.dbg-border(blue, 3, 1);
    margin-bottom: 25px;
    font-size: 24px;
  }
  h4, h5, h6 {
    @include mixin.dbg-border(blue, 3, 1);
    margin-bottom: 25px;
    font-size: 20px;
  }

  p {
    @include mixin.dbg-border(red, 3, 1);
    margin-bottom: 35px;
    font-weight: normal;
  }

  button {
    @include mixin.dbg-border(red, 3, 1);
    width: 100%;
    height: 80px;
    max-width: 429px;
    margin: 30px 0;
    border-radius: 20px;
    border: solid 1px variable.$color-black;
    color: inherit;
    background-color: variable.$color-lightgray;
  }

  ol {
    @include mixin.dbg-border(red, 3, 1);
    padding-left: 20px;
    margin: 17px 0px;
    list-style: decimal inside;
    font-weight: normal;
    li {
      @include mixin.dbg-border(blue, 3, 1);
      list-style: inherit;
    }
  }

  ul {
    @include mixin.dbg-border(red, 3, 1);
    padding-left: 20px;
    margin: 17px 0px;
    list-style: none;
    font-weight: normal;
    li {
      @include mixin.dbg-border(blue, 3, 1);
    }
  }

  table {
    @include mixin.dbg-border(blue, 3, 1);
    width: 100%;
    margin: 30px 0;
    border-collapse: collapse; // セルの線を重ねる
    text-align: left;
    font-weight: normal;

    td {
      border: solid 1px;
      padding: 25px 0 25px 30px;
    }
  }

  pre {
    @include mixin.dbg-border(red, 3, 1);
    margin: 30px 0;
    background-color: variable.$color-lightgray;
  }

  blockquote {
    @include mixin.dbg-border(red, 3, 1);
    padding: 30px 5.33vw;
    margin-bottom: 30px;
    background-color: variable.$color-lightgray;
    font-size: 16px;
    font-weight: normal;

    cite {
      font-style: normal;
    }

    p {
      margin-bottom: 0;
    }

    a {
      color: variable.$color-blue;
      text-decoration: underline;
    }
  }

  &__img {
    @include mixin.dbg-border(red, 3, 1);
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    img {
      width: 71.20vw;
      max-width: 580px;
    }

    &--full img {
      width: 100%;
      max-width: 100%;
    }
  }

  &__2rows {
    @include mixin.dbg-border(red, 3, 1);
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    img {
      @include mixin.dbg-border(red, 3, 1);
      width: 38.6vw;
      max-width: 581px;
    }

    p {
      width: 48vw;
      margin-bottom: 0;
      text-indent: 1em; // 字下げ

      @include mixin.breakpoint("wide") {
        width: 100%;
        margin: 0 40px;
      }
    }
  }

  &__griditems {
    @include mixin.dbg-border(red, 3, 1);
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 20px;

    @include mixin.breakpoint("tablet") {
      grid-template-columns: 1fr 1fr;
    }
    @include mixin.breakpoint("wide") {
      grid-template-columns: 1fr 1fr 1fr;
    }

    li {
      @include mixin.dbg-border(blue, 3, 1);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__suggest {
    a {
      text-decoration: underline;
    }
  }

}

